<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.ReserveIT">

        <activity
            android:name=".startlogo"
            android:exported="true"
            android:theme="@style/Theme.ReserveIT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Signup" android:exported="false" />
        <activity android:name=".login" android:exported="false" />
    </application>

</manifest>
